@font-face {
  font-family: 'Emulogic-zrEw';
  src: url('/assets/fonts/Emulogic-zrEw.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Emulogic-zrEw', sans-serif;
}

.header, .footer {
  height: 250px; 
  text-align: center;
  line-height: 50px;
  position: relative;
  z-index: 10; 
}

.content {
  position: relative;
  z-index: 1; 
  margin-top: -50px;
  padding-top: 50px; 
  margin-bottom: -50px; 
  padding-bottom: 50px;

}

.image-button img {
  width: 100%;
  height: calc(100vh - 1000px); 
  object-fit: cover; 
}

img .card-img-top .custom-image {
  padding:0px; 
  margin:0px; 
  background-color: transparent;
  height: calc(100vh - 50px); 
  width: 100%;
  object-fit: cover;

}

.card {
  background-color: transparent;
  width: auto;
}

.kitty-speech-bubble {
  position: relative;
  left: 300px;
  bottom: 550px;
}
