---
layout: base
---
<!DOCTYPE html>
<html lang="en">

<head charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css' | relative_url }}">
  <script src="{{ '/assets/js/jquery.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/popper.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/bootstrap.min.js' | relative_url }}"></script>
</head>

<body>
  <div class="intro-header"></div>

  <main class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}">
    {% if page.before-content %}
    <div class="before-content">
      {% for file in page.before-content %}
      {% include {{ file }} %}
      {% endfor %}
    </div>
    {% endif %}

    {{ content }}

    {% if page.after-content %}
    <div class="after-content">
      {% for file in page.after-content %}
      {% include {{ file }} %}
      {% endfor %}
    </div>
    {% endif %}
  </main>
</body>

</html>