<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Feedback Page</title>
</head>
<body>
  <header>Feedback</header>
  <main>
    <div id="root"></div>
  </main>
  <footer>My Footer</footer>

  <!-- Include your React build output -->
  <script src="/feedback-app/static/js/main.js"></script>
  <!-- Include Bootstrap JS -->
  <script src="/assets/bootstrap-5.3.3-dist/bootstrap-5.3.3-dist/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</body>
</body>
</html>
